*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main .main-contrenar{
    height: auto;
    padding: 5px;
    border: 2px solid blue;
    width: 98vw;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 2rem;
}
main .main-contrenar .content{
    width: 95%;
    height: auto;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
main .main-contrenar .content img{
    width: 350px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
main .main-contrenar .content .value h1{
    color: chartreuse;
    margin-top: 1rem;
    margin-bottom: 1rem;
    word-break: break-all;
}
main .main-contrenar .content .value h4{
    color: antiquewhite;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    word-break: break-all;
}
main .main-contrenar .content .value h2{
    color: blue;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    word-break: break-all;
}
@media screen and (max-width:913px) {
    main .main-contrenar{
        display: block;
        width: 360px;
        margin: auto;
        padding: 0;
    }
    main .main-contrenar .content{
        display: block;
        padding: 0;
        margin: auto;
        width: 100%;
        position: relative;
    }
    main .main-contrenar .content .value{
        padding: 5px;
        padding: 3px;
        width: 99%;
        position: relative;
    }
    main .main-contrenar .content .value h1{
        font-size: 1.7rem;
    }
    main .main-contrenar .content .value h4{
        font-size: 1rem;
        word-break: break-all;
        word-wrap: break-word;
    }
}