<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="about.css">
</head>
<body>
    {{!-- yhis is the header --}}
    {{>header}}

    {{!-- main content of this page --}}

    <main>
        <div class="about-heading">
            <h2>About Me</h2>
        </div>
        <div class="about-me-contrenar">
            <div class="about-content">
                <img src="mypic.png" alt="mypicture">
                <div class="content-value">
                    <h2 id="m1">Hello I am Mostafa Ali</h2>
                    <h3 id="m2">I am a professional full-stack WEB-DEVELOPAR</h3>
                    <h4 id="m3">FIGMA DESIGNER</h4>
                    <h4 id="m4">Prototype Designer</h4>
                </div>
            </div>
            <div class="about-content">
                <div class="content-value">
                 <p id="m5">We're a Group of creative thinkers who can give you the proper way to grow   your business. And Increase your sales in 2 months With proper marketing  strategy.</p>
                </div>
                <img src="business.png" alt="pic">
            </div>
            <div class="about-content">
                <img src="business2.png" alt="">
                <div class="content-value">
                    <p>
                        Hello,<br>
                        Are you a businessman?<br>
                        are Your BUSINESS New?<br>
                        And You trying to increase your sales. But you couldn't increase your   sales. Grow business in 2023 is too difficult when you have no strategy and   advanced Equipment. And lots of companies                   in the market     and they all try to sell their product. In this case, sell not easy.
                    </p>
                </div>
            </div>
            <div class="about-content">
                <div class="content-value">
                    <h2>I Will tell you the right way to grow your business</h2>
                </div>
                <img src="graph.png" alt="">
            </div>
            <div class="about-content">
                <div class="content-value">
                    <h2 class="gold">WHAT IS NEED TO GROW A BUSINESS.</h2>
                </div>
            </div>
            <div class="about-content">
                <img src="anim.gif" alt="">
                <div class="content-value">
                    <p>Now is the right time for shifting your business online. Because every day,  many people use Facebook, Instagram, Telegram, Youtube, And a lot of Social  Media Platforms. There are a lot of people out there who need your PRODUCT. but  your Product is not available here. If you want to sell your product on this     platform so follow me</p>
                </div>
                <img src="shiftbusiness.png" alt="">
            </div>
            <div class="about-content">
                <div class="content-value">
                    <h3>YOU NEED TO KNOW WHAT IS THE DIGITAL MARKETING?</h3>
                </div>
                <img src="boostbusinee.png" alt="">
            </div>
            <div class="about-content">
                <img src="newimg.png" alt="">
                <div class="content-value">
                    <div id="m2">YOU NEED TO KNOW WHAT IS THE DIGITAL MARKETING?</div>
                </div>
            </div>
            <div class="about-content">
                <div class="content-value">
                    <h3 id="m2">Social media Ads are the best way to increase your sales. We can run ads for your company. And we will run your ads on lots of Social media platforms.</h3>
                </div>
                <img src="social.png" alt="">
            </div>
            <div class="about-content">
                <img src="business.png" alt="">
                <div class="content-value">
                    <p>In 2023 Without a WEBSITE, Your business is invisible. A Website represents your business in the WORLD. All Your product details are available in Written form with photos on your WEBSITE. Anyone can come to your website he/she will read/watch/overview your product. He/She cnd take this product form your website.</p>
                </div>
            </div>
        </div>
    </main>

    {{!-- this is the footer --}}
    {{>footer}}
</body>
<script src="header.js"></script>
</html>