<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="contact.css">
</head>
<body>
    {{!-- this is the header  --}}
    {{>header}}
    {{!-- this is the main content of this file --}}
    <h2 id="heading-contact">Today is the day to build the business of your dreams. Share your mission with the world — and blow your customers away</h2>
    <section>
        <div class="contrener">
            <div class="contrenar-value">
                <img src="business.png" alt="">
                <h2 class="small-text">Why Coose Me?</h2>
            </div>
            <div class="contrenar-value">
                <div class="value">
                    <ol>
                        <li> Design any kind of Custom, Modern, and Responsive Website
                        </li>
                        <li> Redesign Responsive webSite</li>
                        <li> Exceptional on-time delivery experience & can Responsive</li>
                        <li><b><i> 100% Money -Back Guarantee</i></b></li>
                        <li><b><i> 100% Customer Satisfaction</i></b></li>
                        <li> Support after Order Completion</li>
                    </ol>
                </div>
                <img src="gybwn.png" alt="">
            </div>
            <div class="contrenar-value">
                <img src="hello.png" alt="">
                <form action="">
                    <textarea name="textarea" id="textarea" cols="30" rows="10" placeholder="Write a message"></textarea>
                    <button type="submit" id="textarea-submit">SUBMIT</button>
                </form>
            </div>
            <div class="contrenar-value">
                <div class="value">
                    <h2 class="small-text">What Should You Expect?</h2>
                    <ol>
                        <li>Responsive, High-Quality, Clean, and ModernDesigns</li>
                        <li>Speed optimized & Secure from Malware and hack</li>    
                        <li>All browsers Compatible</li>
                        <li>Social Media Integration</li>
                        <li>Content Uploaded</li>
                        <li>E-commerce store With various payment integrations</li>
                        <li>Newsletter & Miling lists (Mailchimp)</li>
                    </ol>
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </section>
    {{!-- this si the footer --}}
    {{>footer}}
</body>
<script src="header.js"></script>
</html>