<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="home.css">
  </head>
  <body>
      {{!--  this is the header --}}
        {{>header}}

        {{!-- this is the main content of this page --}}
        <div class="home-contrenar-value font2">
          <h2 style="color:lightpink">GROW YOUR BUSINESS WITH NEON</h2>
          <h3 style="color:deeppink">ALL YOUR VURTUAL POSIIBILITYS IN HERE</h3>
          <h1 style="color:gold">HELLO I AM MOSTAFA ALI</h1>
          <h2 style="color:blue">A FULL-STACK WEB-DEVELOPER</h2>
          <h3 style="color:rgb(194, 104, 104)">UI/UX DESIGNER</h3>
        </div>
        {{!-- shadow div --}}
        {{!-- animation home page --}}
        <div class="total-animation" id="animation">
          <div class="main-animation-contrenar">
          <div class="animation-contrenar">
            <div class="animation-squre" style="animation-delay: 1s;">
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
            </div>
            <div class="animation-squre" style="animation-delay: 2s;">
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
            </div>
            <div class="animation-squre" style="animation-delay: 3s;">
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
            </div>
            <div class="animation-squre" style="animation-delay:1s;">
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
            </div>
          </div>         
        </div>
        <div class="main-animation-contrenar">
          <div class="animation-contrenar" style="animation-delay: 5s;">
            <div class="animation-squre" style="animation-delay:2s;">
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
            </div>
            <div class="animation-squre" style="animation-delay:3s;">
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
            </div>
            <div class="animation-squre" style="animation-delay:4s;">
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
            </div>
            <div class="animation-squre" style="animation-delay:1s;">
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
            </div>
          </div>         
        </div>
        {{!-- sceound --}}
        <div class="main-animation-contrenar" style="animation-delay: 1s;">
          <div class="animation-contrenar" style="animation-delay:2s;">
            <div class="animation-squre" style="animation-delay:3s;">
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
            </div>
            <div class="animation-squre" style="animation-delay:4s;">
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
            </div>
            <div class="animation-squre" style="animation-delay:1s;">
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
            </div>
            <div class="animation-squre" style="animation-delay:2s;">
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
            </div>
          </div>         
        </div>
        <div class="main-animation-contrenar" style="animation-delay:3s;">
          <div class="animation-contrenar" style="animation-delay: 1s;">
            <div class="animation-squre" style="animation-delay:2s;">
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
            </div>
            <div class="animation-squre" style="animation-delay:3s;">
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
            </div>
            <div class="animation-squre" style="animation-delay:4s;">
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
            </div>
            <div class="animation-squre" style="animation-delay:3s;">
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
              <div class="animation"></div>
            </div>
          </div>         
        </div>
        </div>
      {{!--  this is the footer --}}
        {{!-- {{>footer}} --}}
  </body>
  <script src="header.js"></script>
</html>