<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVICE</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="service.css">
</head>
<body>
    {{!-- this is the header of this page --}}
    {{>header}}
    {{!-- this si the main of this page --}}
    <main>
        <div class="main-contrenar">
            <div class="content">
                <img src="website.gif" alt="">
                <div class="value">
                    <h1>RASPONSIVE WEBSITE</h1>
                    <h4>Design any kind of Custom, Modern, and Responsive Website</h4>
                    <h4>Speed optimized & Secure from Malware and hack</h4>
                    <h2>Starting at just $449</h2>
                </div>
            </div>
            <div class="content">
                <div class="value">
                    <h1>E-COMMERCE</h1>
                    <h4>E-commerce store With various payment integrations</h4>
                    <h4>Speed optimized & Secure from Malware and hack</h4>
                    <h4>Newsletter & Miling lists Mailchimp</h4>
                    <h2>Starting At just $749</h2>
                </div>
                <img src="shiftbusiness.png" alt="">
            </div>
            <div class="content">
                <img src="professinal.png" alt="">
                <div class="value">
                    <h1>UI/UX DESIGN</h1>
                    <h4>. Design any kind of Custom, Modern and 3D and UNIQE Designes In FIGMA</h4>
                    <h2>Starting at just $99</h2>
                </div>
            </div>
            <div class="content">
                <div class="value">
                    <h1>Ads</h1>
                    <h4>Social Media Ads</h4>
                    <h4>Uniqe And Top LAVEL editing</h4>
                    <h2>Starting at just $149</h2>
                </div>
                <img src="SOCIAL.png" alt="">
            </div>
        </div>
    </main>
    {{!-- this is the footer of this page --}}
    {{>footer}}
</body>
<script src="header.js"></script>
</html>