<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKILL</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="skill.css">
</head>
<body>
    {{!-- this is for header --}}
    {{>header}}
    {{!-- this is main of this page --}}
    <section>
        <div class="contrenar">
            <div class="contrenar-value">
                <img src="html.png" alt="">
                <div class="value">
                    <h3>HTML</h3>
                    <div class="bar"><div class="color"></div></div>
                    <span>90%</span>
                </div>
            </div>
            <div class="contrenar-value">
                <div class="value">
                    <h3>CSS</h3>
                    <div class="bar" ><div class="color" style="width:90%"></div></div>
                    <span>90%</span>
                </div>
                <img src="css.png" alt="">
            </div>
            <div class="contrenar-value">
                <img src="java.png" alt="">
                <div class="value">
                    <h3>JavaScripe</h3>
                    <div class="bar">
                        <div class="color" style="width:70%"></div>
                    </div>
                    <span>70%</span>
                </div>
            </div>
            <div class="contrenar-value">
                <div class="value">
                    <h3>NODEJS</h3>
                    <div class="bar">
                        <div class="color" style="width:60%"></div>
                    </div>
                    <span>60%</span>
                </div>
                <img src="node.png" alt="">
            </div>
            <div class="contrenar-value">
                <img src="mongo.png" alt="">
                <div class="value">
                    <h3>MONGODB</h3>
                    <div class="bar">
                        <div class="color" style="width:80%"></div>
                    </div>
                    <span>80%</span>
                </div>
            </div>
            <div class="contrenar-value">
                <div class="value">
                    <h3>WEB-DESIGN</h3>
                    <div class="bar">
                        <div class="color" style="width:99%"></div>
                    </div>
                    <span>99%</span>
                </div>
                <img src="professinal.png" alt="">
            </div>
            <div class="contrenar-value">
                <img src="publics.png" alt="">
                <div class="value">
                    <h3>PUBLIC SPEAKING</h3>
                    <div class="bar">
                        <div class="color" style="width:99%"></div>
                    </div>
                    <span>99%</span>
                </div>
            </div>
        </div>
    </section>
    {{!-- this is the footer fo this page --}}
    {{>footer}}
</body>
<script src="header.js"></script>
</html>