<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="start.css">
</head>
<body>
    <div class="main-start">
    <div class="start-box">
        <h1>Grow Your business With Neon</h1>
        <a href="/"><li id="box-click"><button type="button">click here</button></li></a>
    </div>
</div>
</body>
</html>