<footer>
        <h3>Thank You</h3>
        <div class="contrenar">
            <div class="content">
                <div class="value">
                    <img src="whatsapp.png" alt="">
                    <h4>9641768240</h4>
                </div>
                <div class="value">
                    <img src="email.png" alt="">
                    <h4>mostafaali49867@gmail.com</h4>
                </div>
                <div class="value">
                    <img src="mobile.png" alt="">
                    <h4>9641768240</h4>
                </div>
                <div class="value">
                    <img src="telegram.png" alt="">
                    <h4>@NEONTECHNOLOGYSERVICE</h4>
                </div>
            </div>
            <div class="content">
                <div class="value">
                    <img src="arrow.gif" alt="">
                    <h4>web design</h4>
                </div>
                <div class="value">
                    <img src="arrow.gif" alt="">
                    <h4>Re-Design</h4>
                </div>
                <div class="value">
                    <img src="arrow.gif" alt=""> 
                    <h4>Web-Development</h4>                               
                </div>
                <div class="value">
                    <img src="arrow.gif" alt="">
                    <h4>Figma</h4>
                </div>
                <div class="value">
                    <img src="arrow.gif" alt="">
                    <h4>Figma Prototype</h4>
                </div>
            </div>
        </div>    
        {{!-- /* this is for copy right symble */ --}}
        <h2 id="copy">&copy;Mostafa Ali</h2>
    </footer>