<button id="nav-opening-button">MENU</button>
    <header id="headers">
      <nav>
        <div class="me"><a href="/onme">MOSTAFA ALI</a></div>
        <div class="nav-item">
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/contact">CONTACT</a></li>
          <li><a href="/skill">SKILL</a></li>
          <li><a href="/service">SERVICE</a></li>
        </div>
        <div class="nav-button">
            <a href="/login"><button>LOGIN</button></a>
            <a href="/singup"><button>SINGUP</button></a>
            <button id="close">CLOSE</button>
        </div>
      </nav>
    </header>
    </header>